<html>
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="FlatUI/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

	<!-- Loading Flat UI -->
	<link href="FlatUI/dist/css/flat-ui.css" rel="stylesheet">
	<link href="FlatUI/docs/assets/css/demo.css" rel="stylesheet">

	<link rel="shortcut icon" href="FlatUI/img/favicon.ico">

</head>
<body>
	<div class="container">
		<div class="demo-headline">
			<form class="form-inline" method="POST" align="center" >
				<fieldset>
					<div class="login">
						<div class="login-screen">
							<div class="login-icon">
								<img src="FlatUI/img/login/icon.png" alt="Welcome to movie recommend system" />
								<h4>Welcome to <small>Movie Recommend</small></h4>
							</div>

							<div class="login-form">
								<div class="form-group">
									<input type="text" class="form-control login-field" value="" placeholder="Your name" name="name" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control login-field" value="" placeholder="man or wowen" name="sex" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control login-field" value="" placeholder="Your age" name="age" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control login-field" value="" placeholder="Email" name="email" />
								</div>
								<button class="btn btn-primary btn-lg btn-block" type="input" href="#">Log in</button>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<script src="FlatUI/dist/js/vendor/jquery.min.js"></script>
<script src="FlatUI/dist/js/vendor/video.js"></script>
<script src="FlatUI/dist/js/flat-ui.min.js"></script>
<script src="FlatUI/docs/assets/js/application.js"></script>

<script>
videojs.options.flash.swf = "FlatUI/dist/js/vendors/video-js.swf"
</script>
</body>
</html>


